<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>EB44E8FE-E062-489F-A25F-9A4532F2E23F</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone10,3</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
